:root{
    --white:#fff;
    --black:#000;

    --primary-1: #1d5bb8;
    --primary-2: #2a74ff;
    --primary-3: #94adda;
  --primary-4: #77aeff;
  --primary-5: #c1d3f7;

  --neutral-1: #2c2c2c;
  --neutral-2: #434343;
  --neutral-3: #94868b;
  --neutral-4: #d9cfd3;
  --neutral-5: #f2ecee;

  --accent-1: #0375b7;
  --accent-2: #00a6ff;
  --accent-3: #8dd8cf;
  --accent-4: #92cfc7;
  --accent-5: #d7f2ef;
}

body{
    margin: 0;
    background-color: var(--neutral-5);
    text-align: center;
}

#navbar {
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
    0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  font-size: 40px;
  text-decoration: none;
  padding-left: 20px;
}

#navbar ul {
  list-style-type: none;
  overflow: hidden;
  padding-right: 20px;
}

#navbar li {
  display: inline-block;
}

.nav-item a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-1);
  display: block;
  text-align: center;
  padding: 13px 20px;
}

.nav-item:hover a {
  text-decoration: none;
  color: var(--primary-2);
}

::placeholder {
  color: var(--neutral-4);
}

.nav-tabs {
  position: relative;
  margin: 0 0 40px 0;
}

.nav-tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 0;
}

.nav-tabs li {
  display: inline-block;
}

.nav-tabs a {
  text-decoration: none;
  color: var(--black);
  margin-right: 20px;
}
.nav-tabs a#onlink {
  border-bottom: 7px solid var(--accent-1);
}

.container{
    margin: 0;
}

h1{
    margin: 50px 0 30px 0;
    font-weight: 400;
}

input{
    font-size: 16px;
    margin-bottom: 1.7em;
    padding: 0.75em 0.5em;
    background-color: var(--neutral-5);
    width: 100%;
    max-width: 250px;
    border: solid;
    border-radius:8px;
    border-left: 7px solid var(--neutral-4);
}

a{
    color: var(--primary-2);
    text-decoration: none;
    line-height: 1.4;
    padding: 0.25em;
}

.btn{
  border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 10px 10px 10px;
    padding: 10px 30px;
    text-decoration: none;
    max-width: 120px;
    text-align: center;
    display: inline-block;
    transition: background-color 200ms, transform 220ms;
    background-color: var(--primary-5);
}

.btn:hover{
    background-color: var(--primary-3);
}

button{
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 10px 10px 10px;
    padding: 10px 30px;
    text-decoration: none;
    max-width: 120px;
    text-align: center;
    display: inline-block;
    transition: background-color 200ms, transform 220ms;
    background-color: var(--accent-1);
    color: white;
    border: white;
    
}

button:hover{
  background-color: var(--accent-2);
}

label{
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
}

select{
  padding: 10px 15px;
  margin-top: 5px;
  border-radius: 8px;  
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li{
    margin:10px;
    justify-content: center;
}

#text{
    justify-content: center;
}

.completed-button{
    border-radius:8px;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 10px 10px 20px;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-3);
  }
  
  
